/*Variables Declaration */
/*Reusable function */
/*
Mixin
*/
/*
Generic Styles
*/
*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

html {
  font-size: 16px; }

body {
  font-family: "Inter", sans-serif;
  font-weight: 300; }

img {
  display: block;
  max-width: 100%; }

blockquote,
figure {
  flex-basis: 50%; }

blockquote {
  position: relative;
  font-size: 1.75rem;
  padding: 0.652rem;
  margin-right: -8rem;
  z-index: 10; }

blockquote::before {
  content: url(../images/pattern-quotes.svg);
  position: absolute;
  top: -3.4375rem;
  left: 5.375rem; }

cite {
  display: block;
  margin-top: 1.25rem; }

.container {
  background-image: url(../images/pattern-curve.svg);
  background-repeat: no-repeat;
  background-position: left 0 bottom 0;
  height: 100vh; }

.testimonial-slide {
  position: relative;
  max-width: 71.25rem;
  margin: 0 auto;
  height: 100%;
  vertical-align: middle; }
  .testimonial-slide .slide {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
    .testimonial-slide .slide-img {
      background-image: url(../images/pattern-bg.svg);
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
      padding: 3.4375rem; }
      .testimonial-slide .slide-img div {
        border-radius: 0.1875rem;
        box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
        overflow: hidden; }
    .testimonial-slide .slide-author, .testimonial-slide .slide-author-job {
      font-size: 1.125rem;
      font-weight: 500;
      font-style: normal; }
    .testimonial-slide .slide-author {
      color: #202046; }
    .testimonial-slide .slide-author-job {
      color: #babacf; }
    .testimonial-slide .slide-btns {
      display: flex;
      justify-content: space-between;
      align-items: center;
      position: absolute;
      bottom: 4.0625rem;
      right: 25rem;
      width: 7.5rem;
      background-color: #ffffff;
      box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
      border-radius: 1.875rem;
      padding: 1rem;
      transform-origin: center;
      transition: all 0.5s; }
      .testimonial-slide .slide-btns:hover {
        transform: translateY(-3px); }
    .testimonial-slide .slide-next-btn, .testimonial-slide .slide-previous-btn {
      cursor: pointer; }

#slide-2 {
  display: none; }

.fade {
  animation-name: fade;
  animation-duration: 1.5s; }

@keyframes fade {
  from {
    opacity: 0.4; }
  to {
    opacity: 1; } }

.attribution {
  font-size: 11px;
  text-align: center; }
  .attribution a {
    color: #3e52a3; }
