@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;500;700&display=swap");
@import "./variables";
@import "./mixin";

/*
Generic Styles
*/

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;

  @include respond(tab) {
    font-size: 15px;
  }

  @include respond(md-phone) {
    font-size: 13px;
  }

  @include respond(sm-phone) {
    font-size: 12px;
  }

  @include respond(sm-phone) {
    font-size: 10px;
  }

  @include respond(xs-phone) {
    font-size: 9px;
  }
}

body {
  font-family: "Inter", sans-serif;
  font-weight: weight(regular);
}

img {
  display: block;
  max-width: 100%;
}

blockquote,
figure {
  flex-basis: 50%;
}

blockquote {
  position: relative;
  font-size: 1.75rem;
  padding: 0.652rem;
  margin-right: -8rem;
  z-index: 10;

  @include respond(lg-phone) {
    width: 90%;
    margin: 0 auto;
    text-align: center;
  }
}

blockquote::before {
  content: url(../images/pattern-quotes.svg);
  position: absolute;
  top: -3.4375rem;
  left: 5.375rem;
}

cite {
  display: block;
  margin-top: 1.25rem;

  @include respond(lg-phone) {
    margin-top: 2.25rem;
  }
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-image: url(../images/pattern-curve.svg);
  background-repeat: no-repeat;
  background-position: left 0 bottom 0;
  height: 100vh;

  @include orientation(landscape) {
    height: 100%;
  }
}

.testimonial {
  &-slide {
    //display: flex;
    position: relative;
    max-width: 71.25rem;
    margin: 0 auto;
    padding: 2.5rem 0;
    vertical-align: middle;

    .slide {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;

      @include respond(lg-phone) {
        flex-direction: column;
        width: 90%;
        margin: 0 auto;
      }
      // position: absolute;
      // top: 50%;
      // left: 50%;
      // transform: translate(-50%, -50%);

      &-img {
        background-image: url(../images/pattern-bg.svg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;

        padding: 3.4375rem;

        @include respond(lg-phone) {
          order: -1;
          margin-bottom: 3.4375rem;
          padding: 4.4375rem;
        }

        @include respond(lg-phone) {
          padding: 3.4375rem;
        }

        @include respond(md-phone) {
          padding: 2.5rem;
        }

        div {
          border-radius: 0.1875rem;
          box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
          overflow: hidden;
        }
      }

      &-author,
      &-author-job {
        font-size: 1.125rem;
        font-weight: weight(medium);
        font-style: normal;

        @include respond(lg-phone) {
          display: block;
        }
      }

      &-author {
        color: color(dark-blue);

        @include respond(lg-phone) {
          margin-bottom: 0.3125rem;
        }
      }

      &-author-job {
        color: color(grayish-blue);
      }

      &-btns {
        position: relative;
        left: 60%;
        transform: translateX(-50%);
        width: 90px;
        height: 45px;
        box-shadow: -20px 12px 20px 0px hsla(240, 18%, 77%, 0.52);
        border-radius: 50px;
        background-color: white;
        overflow: hidden;
        top: -80px;

        @include respond(lg-phone) {
          left: 50%;
          top: -355px;
          width: 120px;
          height: 60px;
        }

        @include respond(md-phone) {
          top: -300px;
          width: 100px;
          height: 50px;
        }

        @include respond(sm-phone) {
          top: -310px;
          width: 80px;
          height: 40px;
        }

        @include respond(slm-phone) {
          top: -255px;
        }

        @include respond(xs-phone) {
          top: -250px;
        }

        // @include respond(sm-phone) {
        //   bottom: 27.0625rem;
        // }

        &:hover {
          transform: translate(-50%, -3px);

          // @include respond(lg-phone) {
          //   transform: translate(50%, 0);
          // }
        }
      }

      &-next-btn,
      &-previous-btn {
        display: inline-block;
        width: 50%;
        height: 100%;
        position: absolute;
        cursor: pointer;
      }

      &-next-btn::after {
        background-image: url(../images/icon-next.svg);
      }

      &-previous-btn::after {
        background-image: url(../images/icon-prev.svg);
      }

      &-next-btn::after,
      &-previous-btn::after {
        content: "";
        position: absolute;
        height: 100%;
        width: 100%;
        background-repeat: no-repeat;
        background-position: center;
        background-size: auto;
      }

      &-next-btn {
        right: 0;
      }

      &-previous-btn {
        left: 0;
      }
    }
  }
}

#slide-2 {
  display: none;
}

.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

.attribution {
  font-size: 1rem;
  text-align: center;

  @include respond(sm-phone) {
    font-size: 16px;
  }

  a {
    color: hsl(228, 45%, 44%);
  }
}
